/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   stylus dependencies when defined in the bower.json of your dependencies */
// bower:styl
// endbower

// Global Settings
@font-face{
    font-family: 'kleymisskyregular';
    src: url('/assets/fonts/kleymissky-webfont.eot');
    src: url('/assets/fonts/kleymissky-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/kleymissky-webfont.woff2') format('woff2'),
         url('/assets/fonts/kleymissky-webfont.woff') format('woff'),
         url('/assets/fonts/kleymissky-webfont.ttf') format('truetype'),
         url('/assets/fonts/kleymissky-webfont.svg#kleymisskyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


*
  font-family 'kleymisskyregular'


.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your stylus files automatically */
// injector
// endinjector
